.header{
font-size: 30px;
text-align: center;
width: 100%;
margin-top: 0px;
color:coral
}
.note{
    font-size: 20px;
}

body{
    background-color: aqua;
}


#copy_right_footer{
    font-size: 20px;
    bottom: 0;
    position: fixed;
    text-align: center;
    float: none;
    background-color: darkcyan;
    width: 100%;
    line-height: 3;
    
}